* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #f9f5f0;
  padding: 10 20 10 20;
  align-items: center;
}

.list > ul {
  list-style-type: none; /* Removes the bullets */
  display: flex;
  gap: 10;
  font-weight: 600;
  color: #344f1f;
}

.list > ul > li:hover {
  color: #ff6b00;
  cursor: pointer;
}

.logo {
  width: 50;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin: 0px 30px 0px 30px;
}

.res-cards {
  width: 200px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  min-width: 0;
  overflow: hidden;
}

.res-cards:hover {
  cursor: pointer;
  border: 1px solid black;
}

.res-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
}

.your-choice {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: 30px;
}

.search {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.search input {
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.search button {
  padding: 8px 16px;
  border-radius: 6px;
  border: none;
  background-color: #ff6b00;
  color: white;
  cursor: pointer;
  font-weight: 600;
}

.search button:hover {
  border: 1px solid #f4991a;
}

.filter button {
  padding: 8px 16px;
  border-radius: 6px;
  border: none;
  background-color: #ff6b00;
  color: white;
  cursor: pointer;
  font-weight: 600;
  margin-right: 10px;
}

.filter button:hover {
  border: 1px solid #f4991a;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin: 30px 30px 0px 30px;
}

.shimmer-card {
  width: 200px;
  height: 300px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  min-width: 0;
  overflow: hidden;
  background-color: #ccc;
}
